body, html {

	height:100%;
	width:100%;
}

body {
	background:white;

}

#madLibContent {

	position:absolute;
	width:400px;
	top:10px;
	left:50%;


	margin-left:-200px;
	z-index:10;
	font-size:16px;
	font-family:Verdana;
	line-height:1.4;

}

.background {

	width:130%;
	height:130%;

	top:0;
	left:0;
	z-index:0;
	opacity:0.5;
	    -webkit-animation:wiggle 6s infinite;

}

div.madLib div.title {
	font-size:55px;
	color:#fff;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);


}
div.madLib span.sentence {
	font-size:18px;
   -webkit-text-stroke: 0.5px #fff;
   color: white;
   text-shadow:
       1px 1px 1 #EEE;
 	color:#000;
 	font-weight:bold;


}
div.madLib span[data-ml] {
    font-weight: bold;
    text-decoration: underline;

    position:relative;
   -webkit-animation:grow 1s infinite;
   text-decoration:none;

}



@-webkit-keyframes wiggle { 
        0% {-webkit-transform:rotate(3deg);} 
        50% {-webkit-transform:rotate(-3deg);} 
        100% {-webkit-transform:rotate(3deg);} 
} 

@-webkit-keyframes grow { 
        0% {scale(0.5);} 
        50% {scale(1.2);} 
        100% {scale(0.2);} 
} 
